.UpdatePopUp{
    position: fixed;
    top: 0;
    left: 0;
    background: #00000065;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}