html,
body {
  margin: 0;
  padding: 0;
  font-family: "Tomorrow", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: rgba(20, 21, 34, 0.953);
}



/*-------------- Video Banner component CSS ------------- */
.video-banner-section {
  position: relative;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Semi-transparent overlay */
  display: flex;
  align-items: center;
}

/* ---------------------------------------  */





/* ----------ImageBanner COmponent css ------------ */
.hometext {
  font-family: "Tomorrow", sans-serif;
}

dl {
  padding: 20px;
  max-width: 600px;
  font-family: "Tomorrow", sans-serif;}

dt {
  font-weight: bold;
  color: #1946e8;
  margin-top: 10px;
}

dd {
  margin-left: 20px;
  color: #7f8c8d;
}



@media (max-width: 768px) {

.poweredBy{
  min-height: 260px;
}

}
/* ------------------------------------------------------ */


.result-card {

  width: 280px;
  height: 200px;
  margin-top: 30px;

}


@media (max-width: 768px) {


  .bg-fullscreen,
  .bg-login {
    background-position: top;
  }
}


@media (max-width: 576px) {

  .workout-Logger {
    text-align: center;
    padding: 50px;
  }

  .sets-reps {
    width: 100% !important;
  }
}





/* Home Page Component----------------------- */
.MuscleCard {
  width: 100%;
  max-width: 300px;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  margin: auto;
}

/* Hover effect (optional) */
.MuscleCard:hover {
  transform: scale(1.03);
}

/* Responsive height for smaller screens */
@media (max-width: 786px) {
  .MuscleCard {
    height: 150px;
    max-width: 48%;
  }
  .MuscleCard:hover {
  transform: scale(1.03);
}
}

@media (max-width: 400px) {
  .MuscleCard {
    height: 130px;
    max-width: 100%;
  }
  .MuscleCard:hover {
  transform: scale(1.03);
}
}
